@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

.hide-less-than-desttop {
  display: none; }
  @media (min-width: 1024px) {
    .hide-less-than-desttop {
      display: block; } }

.no-js .show-if-js {
  display: none; }

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.5.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: rgba(0, 0, 0, 0); }
  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8); }
  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    /* styling */
    background: #fff;
    cursor: auto;
    /* reset white-space wrapping */
    white-space: normal; }
  /* contains the content */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block; }
  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: #000; }
  .featherlight .featherlight-image {
    /* styling */
    width: 100%; }
  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0; }
  .featherlight iframe {
    /* styling */
    border: none; }
  .featherlight * {
    /* See https://github.com/noelboss/featherlight/issues/42 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent; } }

/**
 * Featherlight overrides
**/
@media all {
  .featherlight {
    background: #fff;
    /* IE8 "hack" for nested featherlights */
    background: rgba(255, 255, 255, 0); }
    .featherlight.featherlight-iframe {
      padding: 0; } }
    @media all and (min-width: 768px) {
      .featherlight.featherlight-iframe {
        padding: 20px; } }
    @media all and (min-width: 1024px) {
      .featherlight.featherlight-iframe {
        padding: 80px; } }

@media all {
      .featherlight.featherlight-iframe .featherlight-content {
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0; }
        .featherlight.featherlight-iframe .featherlight-content iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-height: 90vh; }
  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(255, 255, 255, 0.8); }
  .featherlight .featherlight-close-icon {
    display: block;
    width: 35px;
    height: 35px;
    margin: 16px;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background: #fff;
    z-index: 100; }
    .featherlight .featherlight-close-icon:focus {
      outline: none; }
    .featherlight .featherlight-close-icon span {
      display: block;
      position: absolute;
      top: 17px;
      left: 2px;
      right: 2px;
      height: 4px;
      border-radius: 2px; }
      .featherlight .featherlight-close-icon span:before, .featherlight .featherlight-close-icon span:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        content: "";
        background: #EF2022; }
      .featherlight .featherlight-close-icon span:before {
        top: 0;
        transform: rotate(45deg); }
      .featherlight .featherlight-close-icon span:after {
        top: 0;
        transform: rotate(-45deg); } }

/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.5.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight-next,
  .featherlight-previous {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 0;
    left: 80%;
    cursor: pointer;
    /* preventing text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* IE9 hack, otherwise navigation doesn't appear */
    background: rgba(0, 0, 0, 0); }
  .featherlight-previous {
    left: 25px;
    right: 80%; }
  .featherlight-next:hover,
  .featherlight-previous:hover {
    background: rgba(255, 255, 255, 0.25); }
  .featherlight-next span,
  .featherlight-previous span {
    display: none;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 82%;
    /* center horizontally */
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    /* center vertically */
    margin-top: -40px;
    text-shadow: 0px 0px 5px #fff;
    color: #fff;
    font-style: normal;
    font-weight: normal; }
  .featherlight-next span {
    right: 5%;
    left: auto; }
  .featherlight-next:hover span,
  .featherlight-previous:hover span {
    display: inline-block; }
  /* Hide navigation while loading */
  .featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
    display: none; } }

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px) {
  .featherlight-next:hover,
  .featherlight-previous:hover {
    background: none; }
  .featherlight-next span,
  .featherlight-previous span {
    display: block; } }

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight-next,
  .featherlight-previous {
    top: 10px;
    right: 10px;
    left: 85%; }
  .featherlight-previous {
    left: 10px;
    right: 85%; }
  .featherlight-next span,
  .featherlight-previous span {
    margin-top: -30px;
    font-size: 40px; } }

/**
 * Featherlight Gallery overrides
 **/
@media all {
  .featherlight .featherlight-content {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    margin: 0;
    width: 100%; }
    .featherlight .featherlight-content img {
      max-height: 75vh !important;
      width: auto !important;
      display: block;
      margin: 0 auto; }
  .featherlight-next,
  .featherlight-previous {
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: url(../img/toggle-arrow.svg) no-repeat;
    background-size: 40px 40px; }
  .featherlight-previous {
    left: 0px;
    transform: rotate(-90deg);
    -ms-transform: rotate(315deg); }
  .featherlight-next {
    right: 0px;
    left: auto;
    transform: rotate(90deg);
    -ms-transform: rotate(135deg); }
  .featherlight-next:hover,
  .featherlight-previous:hover {
    cursor: pointer;
    background: url(../img/toggle-arrow.svg) no-repeat;
    background-size: 40px 40px; } }

/**
 * bxSlider v4.2.5
 * Copyright 2013-2015 Steven Wanderski
 * Written while drinking Belgian ales and listening to jazz

 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
/** VARIABLES 
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper {
  background: transparent; }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: transparent;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border: 1px solid #EF2022;
  border-radius: 10px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #EF2022;
  border-color: #EF2022; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  background-image: url(../img/toggle-arrow.svg);
  background-size: 40px 40px; }

.bx-wrapper .bx-prev {
  left: -40px;
  transform: rotate(-90deg);
  -ms-transform: rotate(315deg); }

.bx-wrapper .bx-next {
  right: -40px;
  transform: rotate(90deg);
  -ms-transform: rotate(135deg); }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  outline: 0;
  width: 40px;
  height: 40px;
  display: none;
  overflow: hidden; }
  @media (min-width: 768px) {
    .bx-wrapper .bx-controls-direction a {
      display: block; } }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/lineto-circular-bold.eot");
  src: url("../fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ian-Ritchie";
  src: url("../fonts/ianritchie.eot");
  src: url("../fonts/ianritchie.eot?#iefix") format("embedded-opentype"), url("../fonts/ianritchie.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/sourceserifpro-regular.eot");
  src: url("../fonts/sourceserifpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceserifpro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Circular-Bold", sans-serif; }

h2 {
  font-family: "Circular-Bold", sans-serif; }

nav li {
  font-family: "Circular-Bold", sans-serif; }

.page-title {
  font-size: 42px;
  line-height: 44px; }
  @media (min-width: 768px) {
    .page-title {
      font-size: 72px;
      line-height: 71px; } }

p, li, td {
  font-family: "Source Serif Pro", serif;
  font-size: 16px;
  line-height: 28px; }
  @media (min-width: 768px) {
    p, li, td {
      font-size: 17px;
      line-height: 30px; } }

footer p {
  font-style: normal;
  font-family: "Circular-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px; }

.image-caption {
  font-size: 15px; }
  .image-caption p {
    font-size: 11px; }
    .image-caption p.description {
      font-size: 15px; }

.homepage-section--tag {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.83px; }

.homepage-section--title {
  font-size: 42px;
  letter-spacing: -0.04em;
  line-height: 40px; }
  .homepage-section--title a {
    text-decoration: none; }
  .homepage-section--title.cloned a {
    text-decoration: underline; }

.homepage-section--description p {
  font-size: 20px;
  line-height: 30px; }

.homepage-text-carousel--item p {
  font-family: "Ian-Ritchie", cursive;
  font-size: 18px;
  line-height: 32px;
  text-align: center; }
  @media (min-width: 768px) {
    .homepage-text-carousel--item p {
      font-size: 30px;
      line-height: 50px; } }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 100px 0 0;
  color: #313131;
  box-sizing: border-box; }
  body.disable-scroll {
    overflow: hidden; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; }
  .container:after, .container:before {
    content: "";
    display: table;
    clear: both; }

.container--header {
  margin-left: -10px;
  margin-right: -10px; }

.wrapper--dark {
  background: #313131;
  color: #fff; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  z-index: 99998; }
  @media (min-width: 1024px) {
    header {
      height: 100px; } }
  header.scrolled {
    border-bottom-color: #d8d8d8; }
    @media (min-width: 1024px) {
      header.scrolled {
        height: 50px; } }

.site-logo {
  background: url(../img/logo/ritchie-studio-logo-horizontal.svg) 20px top no-repeat;
  background-size: contain;
  background-position: 10px top;
  width: calc(100vw - 64px);
  max-width: 70%;
  position: relative;
  height: 32px;
  transition: all 0.3s ease-in-out;
  top: 20px;
  margin: 0; }
  @media (min-width: 768px) {
    .site-logo {
      width: 534px;
      max-width: none;
      background-position: 35px top; } }
  @media (min-width: 1024px) {
    .scrolled .site-logo {
      width: 390px; } }
  .site-logo a {
    display: inline-block;
    width: 534px;
    text-indent: -99999px; }
    .scrolled .site-logo a {
      width: 390px; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  @media (min-width: 1024px) {
    .overlay {
      position: static; } }

.nav-main {
  display: table;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  /*transition: all $transistion-duration ease-in-out;*/ }
  @media (min-width: 1024px) {
    .nav-main {
      width: auto;
      height: 30px;
      float: right;
      position: absolute;
      top: 33px;
      right: 45px;
      left: auto;
      display: inline-block;
      visibility: visible;
      opacity: 1;
      background: transparent;
      transition: top .3s ease-in-out; }
      .scrolled .nav-main {
        top: 16px; } }
  .nav-main.is-active {
    visibility: visible;
    opacity: 1; }
  .nav-main ul {
    list-style: none;
    padding: 0;
    text-align: center; }
  .nav-main > ul {
    display: table-cell;
    vertical-align: middle; }
  .nav-main li {
    font-size: 30px;
    padding: 7px 0; }
    @media (min-width: 1024px) {
      .nav-main li {
        padding: 0;
        font-size: 15px;
        line-height: 13px;
        display: inline-block; } }
  .nav-main a {
    display: block;
    text-decoration: none;
    color: #EF2022;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border .2s ease-in-out; }
    @media (min-width: 1024px) {
      .nav-main a:hover {
        border-bottom-color: #EF2022; } }
    @media (min-width: 1024px) {
      .nav-main a {
        padding: .3em 0 .2em 0;
        margin: 0 .3em; }
        .nav-main a:hover {
          border-bottom-width: 2px; } }

@media (min-width: 1024px) {
  .link-search {
    background: url(../img/search-red.svg) 50% bottom no-repeat;
    background-size: 16px 16px;
    text-indent: -9999px;
    width: 16px; } }

.navigation-toggle {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin: 11px 16px;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: transparent; }
  .navigation-toggle:focus {
    outline: none; }
  @media (min-width: 1024px) {
    .navigation-toggle {
      display: none; } }
  .navigation-toggle span {
    display: block;
    position: absolute;
    top: 17px;
    left: 2px;
    right: 2px;
    height: 4px;
    border-radius: 2px;
    background: #EF2022;
    transition: background 0.3s; }
    .navigation-toggle span:before, .navigation-toggle span:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      content: "";
      background: #EF2022;
      transition: transform 0.3s; }
    .navigation-toggle span:before {
      top: -10px; }
    .navigation-toggle span:after {
      bottom: -10px; }
  .navigation-toggle.is-active span {
    background: none; }
    .navigation-toggle.is-active span:before {
      top: 0;
      transform: rotate(45deg); }
    .navigation-toggle.is-active span:after {
      top: 0;
      transform: rotate(-45deg); }

.nav-footer {
  display: none;
  font-size: 17px; }
  @media (min-width: 768px) {
    .nav-footer {
      display: block; } }
  .nav-footer ul {
    padding: 0;
    margin: 0;
    list-style: none; }

.search-container {
  position: absolute;
  right: 55px;
  top: 16px;
  margin: 16px;
  margin-top: 0;
  width: 30px;
  height: 30px;
  float: left;
  display: none;
  transition: top .3s ease-in-out; }
  @media (min-width: 400px) {
    .search-container {
      display: block; } }
  .search-container:hover {
    cursor: pointer; }
  .search-container:after {
    content: 'search';
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 8px;
    position: relative;
    top: -4px; }
  @media (min-width: 1024px) {
    .search-container {
      right: 0;
      margin-top: 18px;
      width: 20px;
      height: 20px; }
      .search-container:after {
        display: none; }
      .scrolled .search-container {
        top: 0; } }

.search .search-outer {
  fill: #EF2022; }

.search .search-inner {
  fill: rgba(239, 32, 34, 0);
  transition: all .3s ease-in-out; }

.search-container:hover .search-inner {
  fill: #ef2022; }

.menu-label {
  position: absolute;
  top: 46px;
  right: 17px;
  font-style: normal;
  width: 36px;
  display: block; }
  @media (min-width: 1024px) {
    .menu-label {
      display: none; } }
  .menu-label:after {
    content: 'menu';
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 8px; }

.subnav {
  margin: -10px;
  padding: 10px;
  background-color: #F6F6F6;
  border: solid #d8d8d8;
  border-width: 1px 0; }
  .subnav:after, .subnav:before {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 1024px) {
    .subnav {
      background-color: transparent;
      width: 20%;
      float: left;
      padding-top: 170px;
      border: none; } }

.projects-filter--showing {
  display: inline-block;
  font-size: 14px;
  padding: 13px 6px 0; }
  @media (min-width: 768px) {
    .projects-filter--showing {
      padding-left: 50px; } }
  @media (min-width: 1024px) {
    .projects-filter--showing {
      display: none; } }

.subnav-toggle {
  float: right;
  color: #EF2022;
  outline: none;
  background: transparent;
  border: none;
  appearance: none; }
  @media (min-width: 1024px) {
    .subnav-toggle {
      display: none; } }
  .subnav-toggle:after {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    position: relative;
    top: 6px;
    background: url(../img/toggle-arrow-down.svg) 50% 50% no-repeat;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out; }
  .subnav-toggle.is-active:after {
    transform: rotate(-180deg); }

.subnav-items {
  max-height: 0;
  overflow: hidden;
  padding-top: 20px;
  transition: max-height 0.3s ease-in-out; }
  .subnav-items.is-active {
    max-height: 3000px; }
  @media (min-width: 1024px) {
    .subnav-items {
      max-height: none;
      padding-top: 0; } }
  @media (min-width: 768px) {
    .subnav-items dl {
      width: calc(30% - 20px);
      float: left;
      margin-right: 20px;
      margin-bottom: 30px; } }
  @media (min-width: 1024px) {
    .subnav-items dl {
      width: auto; } }
  .subnav-items dt {
    margin-bottom: 16px;
    font-size: 12px;
    text-transform: uppercase; }
  .subnav-items dd {
    margin-left: 0;
    line-height: 24px;
    padding: 8px 4px 8px 0; }
  .subnav-items a {
    color: #EF2022;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 0.7s ease-in-out; }
    .subnav-items a:hover {
      border-bottom-color: #EF2022; }

.subnav-items {
  width: 100%;
  padding-top: 0; }
  @media (min-width: 1024px) {
    .subnav-items {
      margin-bottom: 40px; } }
  .subnav-items dd {
    padding: 0 4px 16px 31px; }

dl.subnav-list {
  width: 100%;
  padding: 0;
  columns: 2;
  position: relative; }
  @media (min-width: 768px) {
    dl.subnav-list {
      columns: 4; } }
  @media (min-width: 1024px) {
    dl.subnav-list {
      columns: 1;
      margin-bottom: 0; } }
  dl.subnav-list dt {
    display: block; }
    @media (min-width: 1024px) {
      dl.subnav-list dt {
        display: block;
        padding-left: 30px; } }
  dl.subnav-list.sort dd.active a {
    color: #EF2022; }
    dl.subnav-list.sort dd.active a:hover {
      border-color: #EF2022; }
  @media (min-width: 1024px) {
    dl.subnav-list.sort dd.active:before {
      background: url(../img/icons/arrow.svg); }
    dl.subnav-list.sort dd.active.desc:before {
      transform: rotate(180deg); } }
  @media (min-width: 1024px) {
    dl.subnav-list dd {
      padding-left: 30px;
      line-height: 22px;
      margin-bottom: 10px; } }
  dl.subnav-list dd.active a {
    color: #313131; }
    dl.subnav-list dd.active a:hover {
      border-color: transparent; }
  @media (min-width: 1024px) {
    dl.subnav-list dd.active {
      position: relative; }
      dl.subnav-list dd.active:before {
        content: '';
        position: absolute;
        left: .5em;
        top: .5ex;
        height: 13px;
        width: 14px;
        background: url(../img/icons/star-black.svg); } }

.page-showing {
  display: inline-block;
  padding: 11px 6px 3px 0;
  font-size: 12px;
  width: calc(100% - 100px);
  float: left; }
  @media (min-width: 1024px) {
    .page-showing {
      display: none; } }

.gallery {
  margin-left: -10px;
  margin-right: -10px; }
  .gallery:after, .gallery:before {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 768px) {
    .gallery {
      margin-bottom: 40px; } }

.gallery--list {
  list-style: none;
  padding: 0; }

.gallery--item {
  display: block;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .gallery--item {
      width: calc( 50% - 20px);
      float: left;
      margin: 10px; } }
  @media (min-width: 1024px) {
    .gallery--item {
      width: calc( 100% / 3 - 21px);
      float: left;
      margin-right: 10px; } }
  .gallery--item img {
    display: block;
    width: 100%;
    height: auto; }

.image-caption {
  padding: 10px 0;
  background-color: #313131;
  color: #fff;
  margin: 0 auto;
  box-sizing: border-box; }
  .image-caption p, .image-caption h3 {
    margin: 0 10px; }

footer {
  padding: 26px 0;
  background-color: #313131;
  color: #fff;
  box-shadow: 0px 500px 0px 500px #313131; }
  @media (min-width: 768px) {
    footer {
      padding-bottom: 50px; } }
  footer a {
    color: #EF2022;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border .2s ease-in-out; }
    @media (min-width: 1024px) {
      footer a:hover {
        border-bottom-color: #EF2022; } }
  footer p {
    padding: .3em 0; }
  @media (min-width: 768px) {
    footer address p {
      width: 50%;
      float: left; } }

.footer-logo {
  position: relative;
  left: -26px;
  width: 100%;
  max-width: 619px;
  height: 42px;
  text-indent: 9999px;
  overflow: hidden;
  color: transparent;
  background: url(../img/long-logo-small-v2-white.svg) no-repeat;
  background-size: contain; }
  @media (min-width: 768px) {
    .footer-logo {
      left: -56px;
      width: 80%; } }

img, a img, a {
  max-width: 100%;
  height: auto; }
  @media (min-width: 768px) {
    img.alignright, a img.alignright, a.alignright {
      width: auto;
      max-width: 50%;
      float: right;
      margin: 0 0 1em 1em; } }
  @media (min-width: 1024px) {
    img.alignright, a img.alignright, a.alignright {
      max-width: 50%; } }
  img.alignleft, a img.alignleft, a.alignleft {
    float: left;
    margin: 0 1em 1em 0; }
  img.aligncenter, a img.aligncenter, a.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  display: table;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .search-modal.is-active {
    visibility: visible;
    opacity: 1; }
  .search-modal .search-modal--content {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center; }

.search-form {
  margin: 2em auto; }

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.search-field {
  appearance: none;
  border: none;
  background: transparent;
  font-size: 20px;
  border-bottom: 2px solid #313131;
  border-radius: 0;
  padding: 0;
  width: calc(100% - 40px); }
  .search-modal .search-field {
    width: calc(80% - 30px); }
  .search-field::placeholder {
    color: #EF2022; }
  .search-field:focus {
    outline: none;
    color: #EF2022; }
  @media (min-width: 768px) {
    .search-field {
      font-size: 60px;
      width: calc(100% - 80px);
      border-bottom-width: 7px; }
      .search-modal .search-field {
        width: calc(80% - 70px); } }
  @media (min-width: 1024px) {
    .search-field {
      font-size: 72px; } }

.search-submit {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative; }
  .search-submit input {
    display: none; }
  .search-submit:hover {
    cursor: pointer; }
    .search-submit:hover .search-inner {
      fill: #ef2022; }
  .search-submit:focus {
    outline: none; }
  @media (min-width: 768px) {
    .search-submit {
      width: 50px;
      height: 50px;
      top: 25px; }
      .search-submit:after {
        content: 'search';
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        position: relative;
        top: -3px; } }
  @media (min-width: 1024px) {
    .search-submit {
      width: 70px;
      height: 70px;
      padding-top: 30px;
      top: 29px; } }

.search-modal--close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin: 16px;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: transparent; }
  .search-modal--close:focus {
    outline: none; }
  .search-modal--close span {
    display: block;
    position: absolute;
    top: 17px;
    left: 2px;
    right: 2px;
    height: 4px;
    border-radius: 2px; }
    .search-modal--close span:before, .search-modal--close span:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      content: "";
      background: #EF2022; }
    .search-modal--close span:before {
      top: 0;
      transform: rotate(45deg); }
    .search-modal--close span:after {
      top: 0;
      transform: rotate(-45deg); }
  .search-modal--close:after {
    content: "0";
    display: block;
    position: absolute;
    bottom: 0px; }

.search-list .list-image span {
  background: #EF2022;
  color: #fff;
  font-family: "Circular-Bold", sans-serif;
  display: block;
  text-align: center; }

.search-list .list-item p {
  margin-top: 0; }

.search-list .query_term {
  background: #eee;
  border-bottom: 1px dotted #999; }

.search-results--info {
  margin: -10px;
  padding: 10px;
  background-color: #F6F6F6;
  border: solid #d8d8d8;
  border-width: 1px 0; }
  .search-results--info:after, .search-results--info:before {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 1024px) {
    .search-results--info {
      border: none;
      background-color: transparent;
      width: 20%;
      float: left;
      padding-top: 170px; } }

.search-results--info-title {
  color: #313131;
  font-size: 12px;
  text-transform: uppercase; }

.search-results--count {
  font-family: "Circular-Bold", sans-serif; }

.search-results--item {
  position: relative;
  margin-bottom: 20px; }

.search-results--item-title {
  color: #EF2022;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border .2s ease-in-out;
  font-family: "Circular-Bold", sans-serif;
  margin: 0;
  font-size: 20px; }
  @media (min-width: 1024px) {
    .search-results--item-title:hover {
      border-bottom-color: #EF2022; } }
  .search-results--item:hover .search-results--item-title a {
    border-bottom-color: #EF2022; }

.search-results--item-description {
  margin: 0;
  font-size: 17px; }

.page a.search-results--item-link {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  border: none; }

.home .container.main {
  margin: 0;
  padding: 0;
  max-width: 100%; }

.homepage-section {
  padding: 35px 10px 35px 10px;
  position: relative; }
  @media (min-width: 768px) {
    .homepage-section {
      padding: 35px 35px 35px 35px; } }

.homepage-section--tag {
  position: relative; }

.homepage-section--title {
  color: #EF2022; }
  .homepage-section--title a {
    color: #EF2022; }
  .homepage-section--title.cloned {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5; }
    .homepage-section--title.cloned a {
      opacity: 0;
      color: transparent;
      transition: all 0.7s ease-in-out; }
      .homepage-section--title.cloned a:hover {
        color: #EF2022;
        opacity: 1; }

.homepage-section--description p a {
  color: #EF2022;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border .2s ease-in-out; }
  @media (min-width: 1024px) {
    .homepage-section--description p a:hover {
      border-bottom-color: #EF2022; } }

.homepage-section--link {
  font-family: "Circular-Bold", sans-serif;
  margin: 0; }

.homepage-slider--item {
  position: relative;
  padding: 0; }
  .homepage-slider--item:after, .homepage-slider--item:before {
    content: "";
    display: table;
    clear: both; }

.homepage-slider--item--title {
  position: relative;
  max-width: 100%;
  margin-bottom: 0;
  z-index: 2;
  margin-bottom: -5px; }
  @media (min-width: 768px) {
    .homepage-slider--item--title {
      max-width: 75%;
      margin-top: 0;
      font-size: 72px;
      line-height: 77px;
      margin-bottom: 1em;
      z-index: 3; } }

.homepage-slider--item--image {
  position: relative;
  height: 213px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 1; }
  @media (min-width: 768px) {
    .homepage-slider--item--image {
      position: absolute;
      right: 0;
      top: 65px;
      width: 80%;
      height: 80%;
      z-index: 2; } }

@media (min-width: 768px) {
  .homepage-slider--item--description {
    position: relative;
    width: 30%;
    min-height: 350px;
    margin: 0;
    padding: 20px 20px 0 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 4; }
    .homepage-slider--item--description p {
      margin-top: 0; } }

.homepage-static--title {
  max-width: 75%;
  margin-bottom: -5px; }
  @media (min-width: 768px) {
    .homepage-static--title {
      margin-top: 0;
      font-size: 72px;
      line-height: 65px; } }

.homepage-static--image {
  height: 403px;
  margin: 0;
  background-position: 50% 50%;
  background-size: cover; }
  @media (min-width: 768px) {
    .homepage-static--image {
      float: left;
      width: 326px;
      height: 400px; } }
  @media (min-width: 768px) {
    .right .homepage-static--image {
      float: right; } }
  .homepage-static--image a {
    display: block;
    width: 100%;
    height: 100%; }

@media (min-width: 768px) {
  .homepage-static--description {
    padding: 0 10px;
    float: left;
    width: calc(100% - 346px); } }

@media (min-width: 768px) {
  .right .homepage-static--description {
    padding: 1em 10px 0 0;
    float: left;
    width: calc(100% - 346px); } }

.homepage-text-carousel--item {
  display: table;
  padding: 35px 30px; }
  @media (min-width: 768px) {
    .homepage-text-carousel--item {
      padding: 50px; } }
  .homepage-text-carousel--item p {
    display: table-cell;
    vertical-align: middle; }

.homepage-text-carousel--link a {
  color: #EF2022;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border .2s ease-in-out; }
  @media (min-width: 1024px) {
    .homepage-text-carousel--link a:hover {
      border-bottom-color: #EF2022; } }

div.page {
  padding: 0 10px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    div.page {
      padding: 0 50px; } }
  @media (min-width: 1024px) {
    div.page {
      padding-right: 90px;
      min-height: calc(100vh - 490px); } }
  @media (min-width: 1024px) {
    div.page {
      width: 65%;
      float: right;
      padding-right: 90px; } }
  div.page a {
    color: #EF2022;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border .2s ease-in-out; }
    @media (min-width: 1024px) {
      div.page a:hover {
        border-bottom-color: #EF2022; } }
  div.page h3 {
    margin-top: 1.2em;
    margin-bottom: 0; }

.posts-list {
  margin-left: -20px;
  margin-right: -20px; }
  .posts-list:after, .posts-list:before {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 768px) {
    .posts-list {
      margin-left: -10px;
      margin-right: -10px; } }

.list-item {
  position: relative;
  min-height: 200px;
  margin-bottom: 20px;
  background-color: #F6F6F6; }
  @media (min-width: 600px) {
    .list-item {
      width: calc(50% - 20px);
      margin: 0 10px 20px;
      float: left; } }
  @media (min-width: 1024px) {
    .list-item {
      width: calc(100% / 3 - 21px); } }

.list-title {
  color: #EF2022;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border .2s ease-in-out;
  line-height: 22px; }
  @media (min-width: 1024px) {
    .list-title:hover {
      border-bottom-color: #EF2022; } }
  @media (min-width: 1140px) {
    .list-item:hover .list-title a {
      border-bottom-color: #EF2022; } }

.list-item a.list-link {
  font-family: "Circular-Bold", sans-serif;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  border: none; }

.list-image {
  height: 170px;
  background-position: 50% 50%;
  background-size: cover; }
  @media (min-width: 600px) {
    .list-image {
      height: 150px; } }
  @media (min-width: 1024px) {
    .list-image {
      height: 131px; } }

.list-details {
  padding: 10px;
  line-height: 28px; }

.list .list-item {
  float: none;
  width: 100%;
  min-height: 131px;
  background: #fff; }
  .list .list-item:after, .list .list-item:before {
    content: "";
    display: table;
    clear: both; }

.list .list-image {
  width: 131px;
  height: 131px;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0; }

.list .list-details {
  padding: 0 10px 10px 141px;
  line-height: 28px;
  font-family: "Source Serif Pro", serif; }
  .list .list-details .list-title {
    font-family: "Circular-Bold", sans-serif; }

.post-date {
  font-family: "Circular-Bold", sans-serif;
  color: #d8d8d8; }

.grid .project-location {
  display: none; }

.list .project-location {
  display: block; }

table {
  background-color: #fff; }

th {
  text-align: left;
  font-family: "Circular-Bold", sans-serif; }

td {
  font-family: "Source Serif Pro", serif; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em; }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 0.2em;
    line-height: 1em;
    vertical-align: top;
    border-top: 1px solid #d8d8d8; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #d8d8d8; }
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > tbody + tbody {
    border-top: 2px solid #d8d8d8; }

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 0.1em; }

.table-bordered {
  border: 1px solid #d8d8d8; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > th,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > th,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #d8d8d8; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px; }

.pagination {
  margin: 20px auto;
  display: table;
  width: 100%;
  font-family: "Circular-Bold", sans-serif; }
  .pagination:after, .pagination:before {
    content: "";
    display: table;
    clear: both; }
  .pagination a {
    text-decoration: none;
    font-family: "Circular-Bold", sans-serif;
    padding: 3px;
    border: 1px solid #d8d8d8 !important;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    -ms-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EF2022;
    transition: all 0.4s ease-in-out;
    margin: 3px; }
    .pagination a:hover {
      border-color: #EF2022 !important; }
  .pagination ul {
    list-style: none;
    text-align: center;
    margin: 0 auto; }
    .pagination ul li {
      font-family: "Circular-Bold", sans-serif;
      display: inline-block;
      padding: 0;
      padding-bottom: 3px; }
      .pagination ul li.current {
        padding: 3px;
        width: 20px;
        height: 20px;
        color: #EF2022;
        border: 1px solid #EF2022; }
      .pagination ul li a {
        display: inline-block; }
      .pagination ul li span.current {
        -ms-display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        color: #EF2022;
        border: 1px solid #EF2022;
        border-radius: 2px;
        width: 20px;
        height: 20px; }
      .pagination ul li.inactive a, .pagination ul li.inactive a:hover {
        color: #EF2022;
        border-color: #d8d8d8;
        background-color: transparent;
        cursor: default; }

.mapmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999999998; }
  .mapmodal .marker {
    display: none; }
  .mapmodal .map {
    width: 100%;
    height: 100%; }
  .mapmodal .close-map-button {
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #d8d8d8;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999999999; }

.ira-infowindow {
  font-family: "Source Serif Pro", serif; }
  .ira-infowindow h3 {
    font-family: "Circular-Bold", sans-serif; }
  .ira-infowindow a {
    color: #EF2022;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border .2s ease-in-out; }
    @media (min-width: 1024px) {
      .ira-infowindow a:hover {
        border-bottom-color: #EF2022; } }
  .ira-infowindow img {
    width: 100%;
    height: auto; }

.bibliography-modal {
  display: none; }

.featherlight .featherlight-content .bibliography-modal {
  display: inline-block;
  width: 100%; }
  .featherlight .featherlight-content .bibliography-modal .bibcontainer {
    background: #fff;
    width: 100%;
    max-width: 600px;
    max-height: 80vh;
    overflow: auto;
    margin: 0 auto;
    padding: 0; }

.pub {
  padding-left: 5em; }
  .pub .title {
    text-transform: uppercase; }
  .pub .date {
    display: block;
    float: left;
    width: 5em;
    margin-left: -5em; }
  .pub .isbn {
    color: #606060; }

.bibliography-modal dt {
  padding: .5em 0;
  margin: .5em 0;
  border-bottom: 5px solid #d8d8d8; }

.awarding-body {
  color: #606060; }

@media (min-width: 768px) {
  .awardsnav:after, .awardsnav:before {
    content: "";
    display: table;
    clear: both; }
  .awardsnav dt {
    display: inline-block;
    margin: 0;
    float: left;
    padding: 5px 10px; }
  .awardsnav dd {
    display: inline-block;
    margin: 0;
    float: left;
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
    border-right: none; }
    .awardsnav dd:last-child {
      border-right: 1px solid #d8d8d8; }
    .awardsnav dd.active {
      background: #EF2022; }
      .awardsnav dd.active a {
        color: #fff; } }

dl.awards dt {
  margin-top: 1.5em; }

dl.awards dd {
  font-family: "Source Serif Pro", serif;
  margin: 1em 0; }

html.js {
  margin-top: 0 !important; }

body.admin-bar #wpadminbar {
  position: fixed; }

body.admin-bar header {
  top: 46px; }

@media screen and (min-width: 783px) {
  body.admin-bar header {
    top: 32px; } }
