html, body {
	width:100%;
	height:100%;
}
.mobile-only {

}

.tablet-up {

}

.desktop-up {

}

.hide-less-than-desttop {
    display: none;

    @include r($large) {
        display: block;
    }
}

.no-js .show-if-js {
	display:none;
}
