.awarding-body {
	color:$medium-grey;
}
@include r($medium) {
	.awardsnav {
		@include clearfix;
		dt {
			display:inline-block;
			margin:0;
			float:left;
			padding:5px 10px;
		}
		dd {
			display:inline-block;
			margin:0;
			float:left;
			padding:5px 10px;
			border:1px solid $grey;
			border-right:none;
			&:last-child {
				border-right:1px solid $grey;
			}
			&.active {
				background:$red;
				a {
					color:$white;
				}
			}
		}
	}
}
dl.awards {
	dt {
		margin-top:1.5em;
	}
	dd {
		@include font-source;
		margin:1em 0;
	}
}