.pub {
	padding-left:5em;
	.title {
		text-transform:uppercase;
	}
	.date {
		display:block;
        float:left;
		width:5em;
		margin-left:-5em;
	}
	.isbn {
		color:$medium-grey;
	}
}
.bibliography-modal dt {
	padding:.5em 0;
	margin:.5em 0;
	border-bottom:5px solid $grey;
}