@font-face {
    font-family: "Circular-Bold";
    src:url("../fonts/lineto-circular-bold.eot");
    src:url("../fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lineto-circular-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Ian-Ritchie";
    src:url("../fonts/ianritchie.eot");
    src:url("../fonts/ianritchie.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ianritchie.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src:url("../fonts/sourceserifpro-regular.eot");
    src:url("../fonts/sourceserifpro-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sourceserifpro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}