footer {

    padding: 26px 0;

    background-color: $dark-grey;
    color: $white;

    box-shadow: 0px 500px 0px 500px $dark-grey;


    @include r($medium) {
        padding-bottom: 50px;
    }

    a {
        @include link-red;
    }

    p {
    	padding:.3em 0;
    }
    address {
    	@include r($medium)  {
    		p {
    			width:50%;
    			float:left;
    		}
        }
    }

}

.footer-logo {
    position: relative;
    left: -26px;
    width: 100%;
    max-width: 619px;
    height: 42px;
    text-indent: 9999px;
    overflow: hidden;
    color: transparent;
    background: url(../img/long-logo-small-v2-white.svg) no-repeat;
    background-size: contain;

    @include r($medium)  {
        left: -56px;
        width: 80%;
    }
}