.gallery {
    @include clearfix;
    margin-left: -10px;
    margin-right: -10px;

    @include r($medium) {
        margin-bottom: 40px;
    }
}

    .gallery--list {
        list-style: none;
        padding: 0;
    }

    .gallery--item {
        display: block;
        margin-bottom: 10px;

        @include r($medium) {
            width: calc( 50% - 20px);
            float: left;
            margin: 10px;
        }

        @include r($large) {
            width: calc( 100% / 3 - 21px);
            float: left;
            margin-right: 10px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

.image-caption {
    padding: 10px 0;
    background-color: $dark-grey;
    color: $white;
    margin: 0 auto;
    box-sizing:border-box;
    p, h3 {
    	margin:0 10px;
    }
}