header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba($white,.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid transparent;
    transition: all $header-transition ease-in-out;
    z-index: 99998;

    @include r($large) {
        height: 100px;
    }

    &.scrolled {
        border-bottom-color: $grey;
        @include r($large) {
            height: 50px;
        }
    }

}

.site-logo {
    background: url(../img/logo/ritchie-studio-logo-horizontal.svg) 20px top no-repeat;
    background-size: contain;
    background-position:10px top;
    width: calc(100vw - 64px);
    max-width: 70%;
    position: relative;
    height:32px;
    transition: all $header-transition ease-in-out;
    top: 20px;

    margin: 0;

    @include r($medium)  {
        width: 534px;
        max-width: none;
        background-position:35px top;
    }


    @include r($large)  {
        .scrolled & {
            width: 390px;
        }
    }

    a {
        display: inline-block;
        width: 534px;

        text-indent: -99999px;

        .scrolled & {
            width: 390px;
        }
    }

}