.home .container.main {
	margin:0;
	padding:0;
	max-width:100%;
}
// Generic Homepage styles

.homepage-section {
    padding: 35px 10px 35px 10px;
    position: relative;
    @include r($medium) {
    	padding: 35px 35px 35px 35px;
	}
}

    .homepage-section--tag {
        position: relative;
    }


    .homepage-section--title {
        color: $red;

        a {
            color: $red;
        }


        &.cloned {
        	position:absolute;
        	left:0;
        	top:0;
        	z-index:5;
            a {
                opacity: 0;
                color: transparent;
                transition: all $underline-transition ease-in-out;
                &:hover {
                    color: $red;
                    opacity: 1;
                }
            }
        }
    }

    .homepage-section--item {

    }

    .homepage-section--description {

        p {

            a {
            	@include link-red;
            }
        }

    }

    .homepage-section--link {
        @include font-circular;
        margin: 0;
    }


// Content slider

.homepage-slider {
    //margin-bottom: 30px;
}

    .homepage-slider--latest-tag {

    }

    .homepage-slider--item {
        position: relative;
        padding: 0;
        @include clearfix;
    }

    .homepage-slider--item--title {
        position: relative;
        max-width: 100%;
        margin-bottom:0;
        z-index:2;
        margin-bottom:-5px;
        @include r($medium) {
        	max-width: 75%;
            margin-top: 0;
            font-size: 72px;
            line-height: 77px;
            margin-bottom:1em;
            z-index:3;
        }


    }

    .homepage-slider--item--image {
    	position:relative;
        height: 213px;
        width:100%;
        background-position: 50% 50%;
        background-size: cover;
        z-index:1;

        @include r($medium) {
        	position: absolute;
        	right:0;
            top: 65px;
            width: 80%;
            height: 80%;
            z-index:2;
        }
    }

    .homepage-slider--item--description {

        @include r($medium) {
            position: relative;
            width: 30%;
            min-height:350px;
            margin: 0;
            padding: 20px 20px 0 0;
            background-color: $white;
            background-color: $white-trans;
            z-index: 4;
            p {
            	margin-top:0;
            }
            //padding-left: 20px;
        }
    }

    .homepage-slider--item--link {

    }

// Static Blocks

.homepage-static {

}

    .homepage-static--tag {

    }

    .homepage-static--title {

        max-width: 75%;
        margin-bottom:-5px;
        @include r($medium) {
            margin-top: 0;
            font-size: 72px;
            line-height: 65px;
        }

        @include r($large) {
        }
    }

    .homepage-static--image {
        height: 403px;
        margin: 0;
        background-position: 50% 50%;
        background-size: cover;


        @include r($medium) {
            float: left;
            width: 326px;
            height: 400px;
        }

        @include r($large) {
        }
        .right & {
	        @include r($medium) {
	            float: right;
	        }
        }
    	a {
    		display:block;
    		width:100%;
    		height:100%;
    	}
    }

    .homepage-static--description {

        @include r($medium) {
            padding: 0 10px ;
            float: left;
            width: calc(100% - 346px);
        }
        .right & {
	        @include r($medium) {
	            padding: 1em 10px 0 0;
	            float: left;
	            width: calc(100% - 346px);
	        }
        }

    }

    .homepage-static--link {

    }




// Text carousels

.homepage-text-carousel {

}

    .homepage-text-carousel--tag {

    }

    .homepage-text-carousely--list {

    }

    .homepage-text-carousel--item {
        display: table;
        padding: 35px 30px;

        @include r($medium) {
            padding: 50px;
        }

        p {
            display: table-cell;
            vertical-align: middle;

        }
    }

    .homepage-text-carousel--link {
		a {
			@include link-red;
		}
    }

