// Wordpress editor image classes
img, a img, a {
    max-width: 100%;
    height: auto;

    &.alignright {
        @include r($medium) {
            width: auto;
    		max-width: 50%;
            float: right;
            margin: 0 0 1em 1em;
        }

        @include r($large) {
    		max-width: 50%;
        }


    }

    &.alignleft {
        float: left;
        margin: 0 1em 1em 0;
    }

    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}