.posts-list {
    @include clearfix;

    margin-left: -20px;
    margin-right: -20px;

    @include r($medium) {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.list-item {
    position: relative;
    min-height: 200px;
    margin-bottom: 20px;
    background-color: $light-grey;
    @include r($small) {
        width: calc(50% - 20px);
        margin: 0 10px 20px;
        float: left;
    }

    @include r($large) {
        width: calc(100% / 3 - 21px);
    }

}

.list-title {
    @include link-red;
    line-height: 22px;

    @include r($x-large) {
        .list-item:hover & a {
            border-bottom-color: $red;
        }
    }
}

.list-item a.list-link {
    @include font-circular;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
    border: none;
}


.list-image {
    height: 170px;
    @include r($small) {
    	height:150px;
    }
    @include r($large) {
        height: 131px;
    }
    background-position: 50% 50%;
    background-size: cover;
}

.list-details {
    padding: 10px;
    line-height: 28px;
}

.list {

	.list-item {
		float:none;
		width:100%;
		min-height:131px;
		background:$white;
		@include clearfix;
	}

    .list-image {
    	width: 131px;
        height: 131px;
        background-position: 50% 50%;
        background-size: cover;
        position:absolute;
        left:0;
        top:0;
    }

    .list-details {
        padding: 0 10px 10px 141px;
        line-height: 28px;
        @include font-source;
        .list-title {
        	@include font-circular;
        }
    }
}
.post-date {
	@include font-circular;
	color:$grey;
}
.grid .project-location {
	display:none;
}
.list .project-location {
	display:block;
}
