.mapmodal {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
	z-index:999999998;

	.marker {
		display:none;
	}
	.map {
		width:100%;
		height:100%;
	}
	.close-map-button {
		padding:5px 10px;
		background:$white;
		border:1px solid $grey;
		display:none;
		position:absolute;
		top:10px;
		right:10px;
		z-index:999999999;
	}
}
.ira-infowindow {
	@include font-source;
	h3 {
		@include font-circular;
	}
	a {
        @include link-red;
    }
    img {
    	width:100%;
    	height:auto;
    }
}
.bibliography-modal {
	display:none;
}
.featherlight .featherlight-content .bibliography-modal {
	display:inline-block;
	width:100%;
	.bibcontainer {
		background:$white;
		width:100%;
		max-width:600px;;
		max-height:80vh;
		overflow:auto;
		margin:0 auto;
		padding:0;
	}
}
