
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include r($large) {
        position: static;
    }
}

// Main navigation

.nav-main {
    display: table;
    background-color: rgba($white,.9);
    width: 100vw;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    /*transition: all $transistion-duration ease-in-out;*/

    @include r($large)  {
        width: auto;
        height: 30px;
        float: right;
        position: absolute;
        top: 33px;
        right: 45px;
        left: auto;
        display: inline-block;
        visibility: visible;
        opacity: 1;
        background: transparent;
        transition: top .3s ease-in-out;
        .scrolled & {
            top: 16px;
        }
    }

    &.is-active {
        visibility: visible;
        opacity: 1;
    }

    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    > ul {
        display: table-cell;
        vertical-align: middle;
    }

    li {
        font-size: 30px;
        padding: 7px 0;

        @include r($large) {
            padding: 0;
            font-size: 15px;
            line-height: 13px;
            display: inline-block;
        }
    }

    a {
        display: block;
        text-decoration: none;
        @include link-red;

        @include r($large) {

            padding: .3em 0 .2em 0;
            margin: 0 .3em;

            &:hover {
                border-bottom-width: 2px;
            }
        }
    }
}

.link-search {
    @include r($large) {
        background: url(../img/search-red.svg) 50% bottom no-repeat;
        background-size:16px 16px;
        text-indent: -9999px;
        width: 16px;
    }
}

//.link-search-tablet {
//    position: absolute;
//    right: 55px;
//    top: 0;
//    width: 35px;
//    height: 35px;
//    margin: 16px;
//    text-indent: -99999px;
//    background: url(../img/search-red.svg) 50% bottom no-repeat;
//    background-size:35px 35px;
//    display: none;
//
//    @include r($medium) {
//        display: block;
//    }
//
//    @include r($large) {
//        display: none;
//    }
//}

// Mobile Navigation toggle

.navigation-toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;

    overflow: hidden;
    margin: 11px 16px;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;

    background: transparent;

    &:focus {
        outline: none;
    }

    @include r($large)  {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        top: 17px;
        left: 2px;
        right: 2px;
        height: 4px;
        border-radius: 2px;
        background: $red;
        transition: background $subnav-transistion;

        &:before, &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            content: "";
            background: $red;
            transition: transform $subnav-transistion;
        }

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }


    }

    &.is-active {
        span {
            background: none;

            &:before {
                top: 0;
                transform: rotate(45deg);
            }

            &:after {
                top: 0;
                transform: rotate(-45deg);
            }
        }


    }

}

// Footer Navigation

.nav-footer {

    display: none;
    font-size: 17px;

    @include r($medium)  {
        display: block;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {

    }
}


// Search SVG icon

.search-container {
    position: absolute;
    right: 55px;
    top: 16px;
    margin:16px;
    margin-top:0;
    width: 30px;
    height: 30px;
    float: left;

    display: none;

	transition: top .3s ease-in-out;
    
    @include r($tiny) {
        display: block;
    }


    &:hover {
        cursor: pointer;
    }

    &:after {
        content: 'search';
        display: block;
        text-align: center;
        text-transform: uppercase;

        font-size: 8px;
        position: relative;
        top: -4px;
    }
    @include r($large) {
    	right:0;
    	margin-top:18px;
    	width:20px;
    	height:20px;
        &:after {
        	display:none;
        }
        .scrolled & {
            top: 0;
        }
    }
}

.search {

    .search-outer{
        fill: $red;
    }

    .search-inner{
        fill: rgba($red, 0);
        transition: all .3s ease-in-out;
    }

}

.search-container:hover {
    .search-inner {
        fill: rgba($red, 1);
    }
}



.menu-label {
    position: absolute;
    top: 46px;
    right: 17px;
    font-style: normal;
    width: 36px;
    display: block;

    @include r($large) {
        display: none;
    }

    &:after {
        content: 'menu';
        display: block;
        text-align: center;
        text-transform: uppercase;

        font-size: 8px;
    }
}