.pagination {
    @include clearfix;

    margin: 20px auto;
    display: table;
    width: 100%;
    @include font-circular;

    a {
        text-decoration: none;
        @include font-circular;
        padding:3px;
        border:1px solid #d8d8d8 !important;
        border-radius: 2px;
        width:20px;
        height:20px;
        -ms-display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $red;
        transition: all $pagination-transition ease-in-out;
        margin:3px;

        &:hover{
            border-color: $red !important;
        }
    }

    ul {
        list-style: none;
        text-align: center;
        margin: 0 auto;

        li {
        	@include font-circular;
            display: inline-block;
        	padding: 0;
            padding-bottom:3px;

	        &.current {
        		padding:3px;
		        width:20px;
		        height:20px;
		        color:$red;
		        border:1px solid $red;
	        }

	        a {
	        	display:inline-block;
	        }

            span.current {
		        -ms-display: flex;
		        display: flex;
		        align-items: center;
		        justify-content: center;
		        padding:3px;
		        color:$red;
		        border:1px solid $red;
		        border-radius: 2px;
		        width:20px;
		        height:20px;
            }


            &.inactive {
                a, a:hover  {
                    color: $red;
                    border-color: $grey;
                    background-color: transparent;
                    cursor: default;
                }

            }

        }

    }
}