div.page {

    padding: 0 10px;
    margin-bottom: 30px;

    @include r($medium) {
        padding: 0 50px;
    }

    @include r($large) {
        padding-right: 90px;
        min-height: calc(100vh - 490px);
    }


    @include r($large) {
        width: 65%;
        float: right;
        padding-right: 90px;
    }

    a {
        @include link-red;
    }

    h3 {
        margin-top: 1.2em;
        margin-bottom: 0;
    }

}
