.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(#fff,.9);
    display: table;

    visibility: hidden;
    opacity: 0;
    transition: all $modal-transistion ease-in-out;

    &.is-active {
        visibility: visible;
        opacity: 1;
    }

    .search-modal--content {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        text-align: center;
    }


}


.search-form {
    margin: 2em auto;
}

.screen-reader-text {
    @include visuallyhidden;
}

.search-field {
    appearance: none;
    border: none;
    background: transparent;
    font-size: 20px;
    border-bottom: 2px solid $dark-grey;
    border-radius: 0;
    padding: 0;

    width: calc(100% - 40px);

    .search-modal & {
        width: calc(80% - 30px);
    }

    &::placeholder {
        color: $red;
    }

    &:focus{
        outline: none;
        color:$red;
    }

    @include r($medium) {
        font-size: 60px;
        width: calc(100% - 80px);
        border-bottom-width: 7px;

        .search-modal & {
            width: calc(80% - 70px);
        }
    }

    @include r($large) {
        font-size: 72px;
    }
}

.search-submit {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;


    input {
        display: none;
    }

    &:hover {
        cursor: pointer;
        .search-inner {
            fill: rgba($red, 1);
        }
    }

    &:focus{
        outline: none;
    }

    @include r($medium) {
        width: 50px;
        height: 50px;
        top: 25px;

        &:after {
            content: 'search';
            display: block;
            text-align: center;
            text-transform: uppercase;

            font-size: 10px;
            position: relative;
            top: -3px;
        }
    }

    @include r($large) {
        width: 70px;
        height: 70px;
        padding-top: 30px;
        top: 29px;
    }
}


.search-modal--close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;

    overflow: hidden;
    margin: 16px;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;

    background: transparent;

    &:focus {
        outline: none;
    }

    span {
        display: block;
        position: absolute;
        top: 17px;
        left: 2px;
        right: 2px;
        height: 4px;
        border-radius: 2px;

        &:before, &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            content: "";
            background: $red;
        }

        &:before {
            top: 0;
            transform: rotate(45deg);
        }

        &:after {
            top: 0;
            transform: rotate(-45deg);
        }


    }

    &:after {
        content: "0";
        display: block;
        position: absolute;
        bottom: 0px;
    }

}

.search-list {
	.list-image {
		span {
			background: $red;
			color: $white;
			@include font-circular;
			display:block;
			text-align:center;
		}
	}
	.list-item p {
		margin-top:0;
	}
	.query_term {
		background:#eee;
		border-bottom:1px dotted #999;
	}
}

.search-results--info {
    @include clearfix;

    margin: -10px;
    padding: 10px;
    background-color: $light-grey;
    border: solid $grey;
    border-width: 1px 0;

    @include r($large)  {
        border: none;
        background-color: transparent;
        width: 20%;
        float: left;
        padding-top: 170px;
    }

}


    .search-results--info-title {
        color: $dark-grey;
        font-size: 12px;
        text-transform: uppercase;
    }

    .search-results--count {
        @include font-circular;
    }

    // Search Results items
    .search-results--item {
        position: relative;
        margin-bottom: 20px;
    }

    .search-results--item-title {
        @include link-red();
        @include font-circular;
        margin: 0;
        font-size: 20px;

        .search-results--item:hover & a {
            border-bottom-color: $red;
        }
    }

    .search-results--item-description {
        margin: 0;
        font-size: 17px;
    }

    .page a.search-results--item-link {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: transparent;
        border: none;
    }