html {
	width:100%;
	height:100%;
}
body {
	width:100%;
	min-height:100%;
    margin: 0;
    padding: 100px 0 0;
    color: $dark-grey;
    box-sizing:border-box;

    &.disable-scroll {
        overflow: hidden;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
    @include clearfix;
}

    .container--header {
        margin-left: -10px;
        margin-right: -10px;
    }

.content {

}

.wrapper {

}

    .wrapper--dark {
        background: $dark-grey;
        color: $white;
    }
