.subnav {
    @include clearfix;

    margin: -10px;
    padding: 10px;
    background-color: $light-grey;
    border: solid $grey;
    border-width: 1px 0;

    @include r($large)  {
        background-color: transparent;
        width: 20%;
        float: left;
        padding-top: 170px;
        border: none;
    }
}

    .projects-filter--showing {
        display: inline-block;
        font-size: 14px;
        padding: 13px 6px 0;

        @include r($medium) {
            padding-left: 50px;
        }

        @include r($large) {
            display: none;
        }
    }

    .subnav-toggle {
        float: right;
        color: $red;
        outline: none;
        background: transparent;
        border: none;
        appearance: none;

        @include r($large)  {
            display: none;
        }

        &:after {
            content: "";
            display: inline-block;
            width: 21px;
            height: 21px;
            position: relative;
            top: 6px;
            background: url(../img/toggle-arrow-down.svg) 50% 50% no-repeat;
            transform: rotate(0deg);
            transition: transform $subnav-transistion ease-in-out;
        }

        &.is-active:after {
            transform: rotate(-180deg);
        }

    }

    .subnav-items {

        max-height: 0;
        overflow: hidden;
        padding-top: 20px;

        transition: max-height $subnav-transistion ease-in-out;

        &.is-active,  {
            max-height: 3000px;
        }

        @include r($large)  {
            max-height: none;
            padding-top: 0;
        }

        dl {
            @include r($medium)  {
                width: calc(30% - 20px);
                float: left;
                margin-right: 20px;
                margin-bottom: 30px;
            }

            @include r($large)  {
                width: auto;
            }
        }

        dt {
            //margin-top: 28px;
            margin-bottom: 16px;
            font-size: 12px;
            text-transform: uppercase;
        }

        dd {
            margin-left: 0;
            line-height: 24px;
            padding: 8px 4px 8px 0;
        }

        a {
            color: $red;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border $underline-transition ease-in-out;

            &:hover {
                border-bottom-color: $red;
            }
        }
    }

    .subnav-items {
        width: 100%;
        padding-top: 0;

        @include r($large) {
            margin-bottom: 40px;
        }

        dd {
            padding: 0 4px 16px 31px;
        }

    }

    dl.subnav-list {
        width: 100%;
        padding: 0;
        columns: 2;
        position: relative;

        @include r($medium) {
            columns: 4;
        }

        @include r($large) {
            columns: 1;
            margin-bottom: 0;
        }
	    dt {
	        display: block;

	        @include r($large) {
	            display: block;
	            padding-left: 30px;
	        }
	    }
	    &.sort dd.active {
	    	a {
	    		color: $red;
            	&:hover {
                	border-color: $red;
            	}
            }
			@include r($large) {
                &:before {
                	background: url(../img/icons/arrow.svg);
                }
                &.desc:before {
                	transform:rotate(180deg);
                }
            }

	    }
		dd {

	        @include r($large) {
	            padding-left: 30px;
	            line-height: 22px;
	            margin-bottom: 10px;
	        }

	        &.active {
	            a {
	                color: $dark-grey;
	                &:hover {
	                    border-color: transparent;
	                }
	            }

	            @include r($large) {
	                position: relative;
	                &:before {
	                    content: '';
	                    position: absolute;
	                    left: .5em;
	                    top: .5ex;
	                    height: 13px;
	                    width: 14px;
	                    background: url(../img/icons/star-black.svg);
	                }
	            }
	        }
	    }
    }

.page-showing {
    display: inline-block;
    padding: 11px 6px 3px 0;
    font-size: 12px;
    width: calc(100% - 100px);
    float: left;

    @include r($large) {
        display: none;
    }
}