body {
    @include font-circular;
}
h2  {
    @include font-circular;
}
nav li {
	@include font-circular;
}

.page-title {
    font-size: 42px;
    line-height: 44px;

    @include r($medium) {
        font-size: 72px;
        line-height: 71px;
    }

}

p,li,td {
    @include font-source;
    font-size: 16px;
    line-height: 28px;

    @include r($medium) {
        font-size: 17px;
        line-height: 30px;
    }

}
// footer text
footer {
    p {
		font-style:normal;
		@include font-circular;
	    font-size: 14px;
	    line-height: 20px;
	}
}
// gallery captions
.image-caption {
    font-size: 15px;
    p {
    	font-size:11px;
    	&.description {
	        font-size: 15px;
    	}
    }
}

// home page
.homepage-section--tag {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.83px;
}
.homepage-section--title {
    font-size: 42px;
    letter-spacing: -0.04em;
    line-height: 40px;

    a {
        text-decoration: none;
    }


    &.cloned {
        a {
            text-decoration: underline;
        }
    }
}
.homepage-section--description {

    p {
        font-size: 20px;
        line-height: 30px;
    }
}
.homepage-text-carousel--item {
    p {
        @include font-ritchie;
        font-size: 18px;
        line-height: 32px;
        text-align: center;

        @include r($medium) {
            font-size: 30px;
            line-height: 50px;
        }
    }
}




