html.js {
	margin-top: 0 !important;
}
body.admin-bar {
	#wpadminbar {
		position:fixed;
	}
	header {
		top: 46px;
	}
}
@media screen and (min-width: 783px) {
	body.admin-bar {
		header {
			top: 32px;
		}
	}
}