/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.4.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-previous {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		height: 40px;
		width: 40px;
		background: url(../img/toggle-arrow.svg) no-repeat;
		background-size: 40px 40px;
	}

	.featherlight-previous {
		left: 0px;
		transform: rotate(-90deg);
		-ms-transform: rotate(315deg);
	}

	.featherlight-next {
		right: 0px;
		transform: rotate(90deg);
		-ms-transform: rotate(135deg);
	}

	.featherlight-next:hover,
	.featherlight-previous:hover {
		cursor: pointer;
	}


	.featherlight-next span,
	.featherlight-previous span {

	}
	.featherlight-next span {

	}


	.featherlight-next:hover span,
	.featherlight-previous:hover span {

	}

	/* Hide navigation while loading */
	.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {

	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next:hover,
	.featherlight-previous:hover {

	}
	.featherlight-next span,
	.featherlight-previous span {

	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next,
	.featherlight-previous {

	}

	.featherlight-previous {

	}

	.featherlight-next span,
	.featherlight-previous span {

	}
}
