/**
 * Featherlight overrides
**/
@media all {
	.featherlight {
		background: $white;
		/* IE8 "hack" for nested featherlights */
		background: rgba(255, 255, 255, 0);
		&.featherlight-iframe {
			padding:0;
			@include r($medium) {
				padding:20px;
			}
			@include r($large) {
				padding:80px;
			}
			.featherlight-content {
				padding:0;
				margin:0;
				width:100%;
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 25px;
				height: 0;

				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					max-height:90vh;
				}
			}
		}
	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(255, 255, 255, 0.8);
	}



	.featherlight .featherlight-close-icon {
		display: block;
		width: 35px;
		height: 35px;
		margin: 16px;
		padding: 0;

		overflow: hidden;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;

		background: #fff;

		z-index: 100;
		&:focus {
			outline: none;
		}

		span {
			display: block;
			position: absolute;
			top: 17px;
			left: 2px;
			right: 2px;
			height: 4px;
			border-radius: 2px;

			&:before, &:after {
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 2px;
				content: "";
				background: $red;
			}

			&:before {
				top: 0;
				transform: rotate(45deg);
			}

			&:after {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}