/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.4.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight {
		display: none;

		/* dimensions: spanning the background from edge to edge */
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 2147483647; /* z-index needs to be >= elements on the site. */

		/* position: centering content */
		text-align: center;

		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		/* styling */
		cursor: pointer;
		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: rgba(0, 0, 0, 0);


		display: table;
		height: 100%;
		width: 100%;

	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(#fff, 0.8);
	}

	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		/* position: centering vertical and horizontal */
		text-align: left;

		/* dimensions: cut off images */
		overflow: auto;
		padding: 25px 25px 0;
		border-bottom: 25px solid transparent;

		/* dimensions: handling large content */
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;

		/* styling */
		cursor: auto;

		/* reset white-space wrapping */
		white-space: normal;

		height: 100%;
		display: table-cell;
		vertical-align: middle;

		top: 50%;
		transform: translateY(-50%);
		overflow: hidden;
	}

	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block;

		height: 100%;
		max-height: none;
		display: table-cell;
		vertical-align: middle;

		display: table-cell;
		vertical-align: middle;
	}

	.featherlight .featherlight-close-icon {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		height: 35px;

		overflow: hidden;
		margin: 16px;
		padding: 0;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;

		background: #fff;

		z-index: 100;

		&:focus {
			outline: none;
		}

		span {
			display: block;
			position: absolute;
			top: 17px;
			left: 2px;
			right: 2px;
			height: 4px;
			border-radius: 2px;

			&:before, &:after {
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 2px;
				content: "";
				background: #EF2022;
			}

			&:before {
				top: 0;
				transform: rotate(45deg);
			}

			&:after {
				top: 0;
				transform: rotate(-45deg);
			}


		}
	}


	.featherlight .featherlight-image {
		/* styling */
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.featherlight  .featherlight-image-wrap {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
	}

	//.featherlight  .featherlight-image-wrap .featherlight-image {
	//	max-width: none;
	//	max-height: none;
	//}

	.featherlight-iframe .featherlight-content {
		/* removed the border for image croping since iframe is edge to edge */
		border-bottom: 0;
		padding: 0;

		max-width: 80%;
	}

	.featherlight iframe {
		/* styling */
		border: none;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 50px;
		margin-right: 50px;
		max-height: 98%;

		padding: 10px 0 0;
		border-bottom: 10px solid transparent;
	}
}
