/**
 * Featherlight Gallery overrides
 **/
@media all {
	.featherlight .featherlight-content {
		padding-left:50px;
		padding-right:50px;
		box-sizing:border-box;
		margin:0;
		width:100%;
		img {
			max-height:75vh !important;
			width:auto !important;
			display:block;
			margin:0 auto;
		}
	}
	.featherlight-next,
	.featherlight-previous {
		top: 50%;
		transform: translateY(-50%);

		height: 40px;
		width: 40px;
		background: url(../img/toggle-arrow.svg) no-repeat;
		background-size: 40px 40px;
	}

	.featherlight-previous {
		left: 0px;
		transform: rotate(-90deg);
		-ms-transform: rotate(315deg);
	}

	.featherlight-next {
		right: 0px;
		left:auto;
		transform: rotate(90deg);
		-ms-transform: rotate(135deg);
	}

	.featherlight-next:hover,
	.featherlight-previous:hover {
		cursor: pointer;
		background: url(../img/toggle-arrow.svg) no-repeat;
		background-size: 40px 40px;
	}
}