@mixin clearfix {
    &:after, &:before {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin link-red {

    color: $red;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border .2s ease-in-out;

    @include r($large) {
        &:hover {
            border-bottom-color: $red;
        }
    }

}

@mixin font-circular {
    font-family: "Circular-Bold", sans-serif;
}

@mixin font-ritchie {
    font-family: "Ian-Ritchie", cursive;
}

@mixin font-source {
    font-family: "Source Serif Pro", serif;
}



@mixin r($point) {
    @media (min-width: $point) { @content; }
}