// Colors

$white: #fff;
$white-trans: rgba(255,255,255,0.85);
$red: #EF2022;
$light-grey: #F6F6F6;
$grey: #d8d8d8;
$medium-grey: #606060;
$dark-grey: #313131;


// Screen sizes

$phone: 767; // Used as a maximum
$tablet: 767;
$desktop-small: 970;
$tablet-portrait: 1024;

// Breakpoints
$x-large: '1140px';
$large: '1024px';
$medium: '768px';
$small: '600px';
$tiny: '400px';

// transitions
$underline-transition: 0.7s;
$subnav-transistion: 0.3s;
$header-transition: 0.3s;
$modal-transistion: 0.3s;
$pagination-transition: 0.4s;

//tables
$table-bg: $white;
$table-cell-padding: .2em;
$table-condensed-cell-padding: .1em;
$table-border-color: $grey;


